<div class="coupon-container">
  <div class="header">
    <h2>Danh sách Coupon</h2>
  </div>

  <div class="table-wrapper">
    <table class="coupon-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên</th>
          <th>Code</th>
          <th>Giảm giá %</th>
          <th>Ngày hết hạn</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coupon of coupons">
          <td>{{coupon.id}}</td>
          <td>{{coupon.name}}</td>
          <td>{{coupon.code}}</td>
          <td>{{coupon.discount}}</td>
          <td>{{ coupon.expirationDate | date: 'dd/MM/yyyy' }}</td>
          <td class="actions-cell">
            <div class="actions">
              <button class="btn update" (click)="openUpdate(coupon)">Sửa</button>
              <button class="btn delete" (click)="deleteCoupon(coupon.id)">Xóa</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  
  <div class="modal" *ngIf="showUpdate">
    <div class="modal-content">
      <h3>Cập nhật mã giảm giá</h3>
      <form [formGroup]="couponForm" (ngSubmit)="updateCoupon()">
        <div class="form-group">
          <label for="name">Tên mã</label>
          <input id="name" type="text" formControlName="name">
          <div *ngIf="couponForm.get('name')?.invalid && couponForm.get('name')?.touched" class="error">
            Tên là bắt buộc
          </div>
        </div>

        <div class="form-group">
          <label for="code">Code</label>
          <input id="code" type="text" formControlName="code">
          <div *ngIf="couponForm.get('code')?.invalid && couponForm.get('code')?.touched" class="error">
            Code là bắt buộc
          </div>
        </div>

        <div class="form-group">
          <label for="discount">giảm giá</label>
          <input id="discount" type="number" formControlName="discount">
          <div *ngIf="couponForm.get('discount')?.invalid && couponForm.get('discount')?.touched" class="error">
            Discount là bắt buộc
          </div>
        </div>

        <div class="form-group">
          <label for="expirationDate">Ngày hết hạn</label>
          <input id="expirationDate" type="date" formControlName="expirationDate">
          <div *ngIf="couponForm.get('expirationDate')?.invalid && couponForm.get('expirationDate')?.touched" class="error">
            Ngày hết hạn là bắt buộc
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" [disabled]="couponForm.invalid">Cập nhật</button>
          <button type="button" (click)="close()">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>
