<div class="contact-container">
  <h1>Liên hệ - Sport Zone</h1>

  <div class="contact-info">
    <p>
      Sport Zone là đơn vị chuyên nhập khẩu, phân phối, bán buôn, bán lẻ dụng cụ thể dục thể thao và thể hình uy tín nhất tại Việt Nam. Toàn bộ sản phẩm do Nam Việt cung cấp đều đảm bảo chính hãng, thông tin và giá bán dụng cụ thể thao được niêm yết, đảm bảo quyền lợi của Quý khách hàng.
    </p>

    <h2>Chi nhánh Hà Nội</h2>
    <p>59 Giải Phóng, Phương Mai, Hai Bà Trưng , Hà Nội</p>

    <h2>Thông tin liên hệ</h2>
    <p>Email: <a href="sportzonegmail.com">sportzonegmail.com</a></p>
    <p>Hotline: <a href="tel:0934966960">0989 400 954</a> – <a href="tel:0888822866">0888 822 866</a></p>
    <p>Website: <a href="https://sportzone.vn" target="_blank">https://sportzone.vn</a></p>

    <h2>Bản đồ chi nhánh</h2>
    
    <!-- Google Map Hà Nội -->
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7242721991065!2d105.83880107584086!3d21.00368698863812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac775c922721%3A0xcbbd3248bfcc944d!2zNTkgxJAuIEdp4bqjaSBQaMOzbmcsIFBoxrDGoW5nIE1haSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1762266237236!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
  </div>
</div>
<app-footer></app-footer>
