<div class="password-container">
  <mat-card>
    <mat-card-title>Đổi mật khẩu</mat-card-title>
    <mat-card-content>
      <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <mat-form-field appearance="outline" floatLabel="auto">
          <mat-label>Mật khẩu cũ</mat-label>
          <input matInput type="password" formControlName="oldPassword" placeholder="Nhập mật khẩu cũ" required>
          <mat-error *ngIf="passwordForm.get('oldPassword')?.invalid && passwordForm.get('oldPassword')?.touched">
            Vui lòng nhập mật khẩu cũ
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="auto">
          <mat-label>Mật khẩu mới</mat-label>
          <input matInput type="password" formControlName="newPassword" placeholder="Nhập mật khẩu mới" required>
          <mat-error *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
            Vui lòng nhập mật khẩu mới
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">
          Đổi mật khẩu
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>