<div *ngIf ="!isCustomerLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand" routerLink="">Sport Zone</span>
    <button mat-button routerLink="/trackOrder" routerLinkActive="active">Theo dõi đơn hàng</button>
    <button mat-button routerLink="/sign-up" routerLinkActive="active">Đăng ký</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Đăng nhập</button>
  </mat-toolbar>
 
</div>
<div *ngIf ="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand" routerLink="/admin/dashboard">Sport Zone </span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Trang chủ</button>
    <button mat-button [matMenuTriggerFor]="analyticsMenu">Thống kê</button>
      <mat-menu #analyticsMenu="matMenu">
        <button mat-menu-item [routerLink]="['/admin/analytics']">
          Thống kê tổng quát
        </button>
        <button mat-menu-item [routerLink]="['/admin/analytics-products']">
          Thống kê chi tiết
        </button>
        <button mat-menu-item [routerLink]="['/admin/payments']">
          Thống kê thanh toán
        </button>

      </mat-menu>
    <button mat-button routerLink="/admin/product" routerLinkActive="active">Thêm sản phẩm</button>
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Đơn hàng</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Quản lý danh mục</button>
    <button mat-button [matMenuTriggerFor]="couponMenu">Mã giảm giá</button>
      <mat-menu #couponMenu="matMenu">
        <button mat-menu-item [routerLink]="['/admin/coupons']">Quản lý mã giảm giá</button>
        <button mat-menu-item [routerLink]="['/admin/post-coupon']">Thêm mã giảm giá</button>
      </mat-menu>
    <button mat-button routerLink="/admin/users" routerLinkActive="active">Quản lý người dùng</button>
    
    
    <button mat-button routerLinkActive="active" (click)="logOut()">Đăng xuất</button>
  </mat-toolbar>
</div>

<div *ngIf ="isCustomerLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand" routerLink="/customer/dashboard">Sport Zone </span>
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Trang chủ</button>
    <button mat-button [matMenuTriggerFor]="categoryMenu">Danh mục</button>
      <mat-menu #categoryMenu="matMenu">
        <button mat-menu-item *ngFor="let cat of categories" [routerLink]="['/customer/category', cat.id]">
          {{ cat.name }}
        </button>
      </mat-menu>
    <button mat-button routerLink="/customer/orders" routerLinkActive="active">Đơn hàng</button>
     <button mat-button routerLink="/customer/wishlist" routerLinkActive="active"
      style="min-width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;">
      <mat-icon style="font-size: 23px; width: 26px; height: 26px; line-height: 26px;">
        favorite
      </mat-icon>
    </button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active"
      style="min-width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;">
      <mat-icon style="font-size: 23px; width: 26px; height: 26px; line-height: 26px;">
        shopping_cart
      </mat-icon>
    </button>
   <button mat-button [matMenuTriggerFor]="profileMenu"
  style="min-width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; padding:0;">

  <img *ngIf="img; else showIcon" [src]="img"
       style="width: 35px; height: 35px; border-radius: 50%; object-fit: cover;" />

      <ng-template #showIcon>
        <mat-icon style="font-size: 26px; width: 26px; height: 26px; line-height: 26px; vertical-align: middle;">
          account_circle
        </mat-icon>
      </ng-template>
    </button>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/customer/profile">
        <mat-icon>person</mat-icon>
        <span>Hồ sơ</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Đăng xuất</span>
      </button>
    </mat-menu>

  </mat-toolbar>
</div>

<router-outlet></router-outlet>
