<div class="container">
    <h2>Thêm sản phẩm</h2>
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
        <div class="file-upload-container">
            <label for="fileInput" class="file-upload-label">
                <span>Chọn file ảnh</span>
                <input type = "file" id="fileInput" multiple
                 (change)="onFileSelected($event)" hidden/>
                <mat-icon>attach_file</mat-icon>
            </label>

            
            <div *ngIf="imagePreviews.length > 0" class="image-preview-container">
                <div *ngFor="let img of imagePreviews" class="circle-image">
                    <img [src]="img" alt="Selected Image" class="image-preview" />
                </div>
            </div>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Danh mục</mat-label>
                <mat-select 
                    formControlName="categoryId" 
                    name="categoryId"
                    (selectionChange)="onCategoryChange($event.value)">
                    <mat-option *ngFor="let category of listOfCategories" [value]="category.id">
                    {{ category.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">
                    Danh mục là bắt buộc
                </mat-error>
                <button mat-button color="accent" type="button" (click)="showCategoryForm = true">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>

 
        <div *ngIf="showCategoryForm" class="category-overlay">
            <form [formGroup]="categoryForm">
                <div class="category-dialog">
                    <div class="dialog-header">
                        <h3>Thêm danh mục</h3>
                        <button class="close-button" (click)="showCategoryForm = false">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Tên Danh mục</mat-label>
                        <input matInput type="text" formControlName="name" placeholder="Nhập tên danh mục" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Mô tả</mat-label>
                        <textarea matInput placeholder="Mô tả" formControlName="description"></textarea>
                    </mat-form-field>

                    <div class="category-buttons">
                        <button mat-raised-button color="primary" type="button" (click)="createCategory()">
                            Lưu
                        </button>
                        <button mat-button type="button" (click)="showCategoryForm = false">Hủy</button>
                    </div>
                </div>
            </form>
        </div>

            <mat-form-field appearance="outline" class="form-field">
            <mat-label>Thương hiệu</mat-label>
            <mat-select formControlName="brandId">
                <mat-option *ngFor="let brand of listOfBrands" [value]="brand.id">
                {{ brand.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.get('brandId')?.hasError('required')">
                Thương hiệu là bắt buộc
            </mat-error>
            <button mat-button color="accent" type="button" (click)="showBrandForm = true">
                <mat-icon>add</mat-icon>
            </button>
            </mat-form-field>

            
            <div *ngIf="showBrandForm" class="overlay">
                <form [formGroup]="brandForm">
                    <div class="dialog">
                    <div class="dialog-header">
                        <h3>Thêm thương hiệu</h3>
                        <button class="close-button" (click)="showBrandForm = false">
                        <mat-icon>close</mat-icon>
                        </button>
                    </div>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Tên thương hiệu</mat-label>
                        <input matInput type="text" formControlName="name" placeholder="Nhập tên brand" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Mô tả</mat-label>
                        <textarea matInput formControlName="description" placeholder="Mô tả"></textarea>
                    </mat-form-field>

                    <div class="dialog-buttons">
                        <button mat-raised-button color="primary" type="button" (click)="createBrand()">Lưu</button>
                        <button mat-button type="button" (click)="showBrandForm = false">Hủy</button>
                    </div>
                    </div>
                </form>
            </div>


            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Tên </mat-label>
                <input matInput type="text" formControlName="name" placeholder="nhập tên" />
                <mat-error *ngIf="productForm.get('name')?.hasError('required')">
                    Tên sản phẩm là bắt buộc.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Giá</mat-label>
                <input matInput type="number" formControlName="price" placeholder="Giá" min="0"/>
                <mat-error *ngIf="productForm.get('price')?.hasError('required')">
                    Giá sản phẩm là bắt buộc.
                </mat-error>
            </mat-form-field>
            
            <div class="form-row">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Xuất xứ</mat-label>
                    <input matInput type="text" formControlName="origin" placeholder="Nhập xuất xứ" />
                    <mat-error *ngIf="productForm.get('origin')?.hasError('required')">
                        Xuất xứ là bắt buộc.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Số lượng tồn kho</mat-label>
                    <input matInput type="number" formControlName="stockQuantity" placeholder="Nhập số lượng" min="0"/>
                    <mat-error *ngIf="productForm.get('stockQuantity')?.hasError('required')">
                        Số lượng là bắt buộc.
                    </mat-error>
                </mat-form-field>
            </div>


            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Mô tả</mat-label>
                <textarea matInput placeholder="Mô tả" formControlName="description"></textarea>
                <mat-error *ngIf="productForm.get('description')?.hasError('required')">
                    Mô tả sản phẩm là bắt buộc.
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">
                Thêm
            </button>

        </div>

    </form>
</div>
