<footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        
        <p>&copy; {{ currentYear }} Cám ơn quý khách đã trải nghiệm web.</p>
        <div class="contact-info">
          <p><strong>Liên hệ:</strong></p>
          <p>Email: <a href="mailto:nhom22@gmail.com">tuantah21gmail.com</a></p>
          <p>Điện thoại: 0989400954</p>
          <p>Địa chỉ: 55 Giải Phóng , Hai Bà Trưng, Hà Nội</p>
        </div>
      </div>
      <div class="footer-right">
        <a routerLink="/customer/about">Giới thiệu</a>
        <a routerLink="/customer/contact">Liên hệ</a>
        <a href="#">Chính sách</a>
      </div>
    </div>
  </footer>
